<div id="howitworks" v-cloak>

  
  <section>
    <h1 class="p-5">How it Works </h1>
  </section>
  <hr>
  <section>
    <div class="container-fluid">
      <h4 > How the booking process works</h4><br>
      
      <ol class="m-5 text-justify list-group list-group-numbered">
        <p> 1.First you need to choose a category as per your preference.</p>
        <p> 2.Then you need to choose a cab ride from the selections.</p>
        <p> 3.Then click the "Book Now" button.</p>
        <p> 4.It will direct you to a form which has to put your details.</p>
        <p> 5.Put the pickup location and the destination location.</p>
        <p> 6.and click the Submit button.</p>
        <p> 7.Have a Safe Ride.</p>

  </ol>
  </div>
</section>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
