<header id="page-header"
  class="navbar navbar-expand-sm navbar-dark flex-column flex-md-row justify-content-between text-white"
  style="background-color:#000D15;">
  <a class="navbar-brand ml-md-5 mr-0" href="/"><img class="logo" alt="logo" src="/images/logo.jpg" /></a>


  <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
    class="navbar-toggler mb-4"><span class="navbar-toggler-icon text-white"></span></button>

  <div id="navbarSupportedContent" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto mr-auto">
      
            
            <a class="nav-item nav-link ml-2 ml-md-0 mr-2 mr-md-0" href="/home">Home</a>
            <a class="nav-item nav-link ml-2 ml-md-0 mr-2 mr-md-0" href="/merchant-partners">Category</a>
            <a class="nav-item nav-link ml-2 ml-md-0 mr-2 mr-md-0" href="/how-it-works"> How It Works</a>
            <a class="nav-item nav-link ml-2 ml-md-0 mr-2 mr-md-0" href="/terms-and-conditions">Terms & Conditions</a>
            


          
    </ul>

  </div>

  <a href="#" type="button" class="btn btn-loyalty text-center mx-md-5 px-3">Book Now</a>


</header>