<div id="cms" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/cms.less</em>, <em>assets/js/pages/cms.page.js</em>, and <em>api/controllers/view-cms.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
